.quote-container {
    overflow: auto;
    height: calc(100vh - 166px);
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 0;

    .error-message {
        border: 3px solid white;
        padding: 20px;
        text-align: center;
        color: white;
        background-color: transparent;
    }
}
